.contacts {
  @media (min-width: $desktop-above) {
    position: relative;
  }
}

.contacts--background {
  background-color: $second-background-color;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $mobile-s-above) {
    width: 600px;
  }

  @media (min-width: $mobile-above) {
    width: initial;
    padding: 61px 70px;
  }

  @media (min-width: $desktop-above) {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
    width: 565px;
    min-height: 199px;
    padding-top: 61px;
    padding-right: 78px;
    padding-bottom: 60px;
    padding-left: 80px;
    background-color: $base-background-light-color;
  }
}

.contacts__promo {
  width: 100%;
  max-width: 140px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-second;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $third-text-dark-color;

  @media (min-width: $mobile-above) {
    max-width: 163px;
    font-size: 20px;
    line-height: 1.3;
  }
}

.contacts__address {
  width: 100%;
  max-width: 140px;
  font-style: normal;
  line-height: 1.42;
  color: $second-text-dark-color;

  @media (min-width: $mobile-above) {
    max-width: 157px;
    text-align: right;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-above) {
    text-align: left;
    color: $second-text-dark-color;
  }
}

.contacts__address > span {
  @media (min-width: $mobile-above) {
    display: block;
    padding-top: 18px;
  }

  @media (min-width: $desktop-above) {
    padding-top: 19px;
  }
}

.contacts__map-wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    height: 400px;
  }
}

.contacts__map-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  @media (min-width: $mobile-above) {
    height: 0;
    min-height: 400px;
    object-fit: cover;
  }
}

.contacts__map-link {
  position: absolute;
  z-index: 1;
  top: 46.5%;
  left: 50.5%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  @media (min-width: $mobile-above) {
    top: 50%;
    left: 50.7%;
    width: 113px;
    height: 106px;
  }

  @media (min-width: $desktop-above) {
    top: 33%;
    left: 63%;
    // top: 131px;
    // left: 908px;
    width: 113px;
    height: 106px;
    transform: initial;
  }
}

.contacts__map-link-pin {
  @media (min-width: $mobile-above) {
    width: 100%;
    height: 100%;
  }
}

.contacts__interactive-map {
  display: block;
  width: 100%;

  @media (min-width: $desktop-above) {
    height: 400px;
  }
}

.contacts__map-wrapper picture {
  display: none;
}

.contacts__map-wrapper--nojs picture {
  display: block;
}

.contacts__map-wrapper--nojs iframe {
  display: none;
}
