.example {
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $example-background-color;

  @media (min-width: $mobile-above) {
    padding-top: 45px;
    padding-bottom: 101px;
    background-image: linear-gradient(to bottom, $base-background-light-color 0%, $base-background-light-color 57.3%, $example-background-color 57.3%, $example-background-color 100%);
  }

  @media (min-width: $desktop-above) {
    padding-top: 0;
    padding-bottom: 68px;
    background-image: linear-gradient(to bottom, $base-background-light-color 0%, $base-background-light-color 23%, $example-background-color 23%, $example-background-color 100%);
  }
}

.example > .container {
  @media (min-width: $desktop-above) {
    display: flex;
    justify-content: center;
  }
}

.example__info-wrapper {
  @media (min-width: $desktop-above) {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 436px;
    margin-right: 219px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $font-second;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;
  color: $base-text-dark-color;

  @media (min-width: $mobile-s-above) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-above) {
    margin-bottom: 146px;
  }
}

.example p:not([class]) {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $mobile-above) {
    margin-bottom: 55px;
    color: $second-text-dark-color;
  }

  @media (min-width: $desktop-above) {
    width: 100%;
    max-width: 433px;
    margin-bottom: 69px;
  }
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 3px;

  @media (min-width: $mobile-xs-above) {
    justify-content: space-around;
  }

  @media (min-width: $mobile-above) {
    display: inline-flex;
    column-gap: 43px;
  }

  @media (min-width: $desktop-above) {
    margin-bottom: 50px;
  }
}

.example__weight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  width: 124px;
  min-height: 56px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;

  @media (min-width: $mobile-above) {
    width: 162px;
    min-height: 77px;
  }
}

.example__weight dt {
  order: 2;
  z-index: 1;
  top: 80%;
  width: 87px;
  min-height: 24px;
  margin-top: -22px;
  margin-left: 0;
  padding-inline: 5px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  background-color: $example-background-color;

  @media (min-width: $mobile-above) {
    top: 88%;
    width: 106px;
    margin-top: -24px;
    font-size: 14px;
    color: $second-text-dark-color;
    background-color: $base-background-light-color;
  }

  @media (min-width: $desktop-above) {
    background-color: $example-background-color;
  }
}

.example__weight dd {
  width: 100%;
  margin-left: 0;
  padding: 14px 20px 17px;
  text-align: center;
  font-family: $font-second;
  font-size: 24px;
  line-height: 1;
  color: $base-text-dark-color;
  border: 1px solid $third-border-color;

  @media (min-width: $mobile-above) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__time {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  width: 124px;
  min-height: 56px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 2px;

  @media (min-width: $mobile-above) {
    width: 162px;
    min-height: 77px;
  }
}

.example__time dt {
  order: 2;
  z-index: 1;
  top: 80%;
  width: 87px;
  min-height: 24px;
  margin-top: -22px;
  margin-left: 0;
  padding-inline: 5px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  background-color: $example-background-color;

  @media (min-width: $mobile-above) {
    top: 88%;
    width: 135px;
    margin-top: -24px;
    font-size: 14px;
    color: $second-text-dark-color;
    background-color: $base-background-light-color;
  }

  @media (min-width: $desktop-above) {
    background-color: $example-background-color;
  }
}

.example__time dd {
  width: 100%;
  margin-left: 0;
  padding: 14px 20px 17px;
  text-align: center;
  font-family: $font-second;
  font-size: 24px;
  line-height: 1;
  color: $base-text-dark-color;
  border: 1px solid $third-border-color;

  @media (min-width: $mobile-above) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__cost-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;

  @media (min-width: $mobile-above) {
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 9px;
    margin-top: -8px;
    margin-left: 165px;
  }

  @media (min-width: $desktop-above) {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    width: 327px;
    margin-left: 0;
  }
}

.example__cost {
  font-family: $font-second;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  color: $base-text-dark-color;

  @media (min-width: $mobile-above) {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1;
  }
}

.example__slider-container {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    margin-top: 88px;
  }

  @media (min-width: $desktop-above) {
    margin-top: 0;
    margin-right: 0;
  }
}
