.hero {
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(rgba($branded-color, 0.85), rgba($branded-color, 0.85)), url("./../img/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-second;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $base-text-light-color;
}

.hero__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: $font-second;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $base-text-light-color;
  text-transform: uppercase;
}

.hero__image {
  display: block;
  margin-bottom: 3px;
}
