.hero {
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(rgba($branded-color, 85%) 100%) url("./../../img/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
}
