.hero {
  position: relative;
  padding-top: 27px;
  background-image: url("./../img/hero/hero-mobile-bg@1x.png"), linear-gradient(to right, $hero-background-left, $hero-background-right);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 320px auto, 100% 64%;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/hero/hero-mobile-bg@2x.png"), linear-gradient(to right, $hero-background-left, $hero-background-right);
  }

  @media (min-width: $mobile-above) {
    padding-top: 46px;
    background-image: none;
  }

  @media (min-width: $desktop-above) {
    padding-top: 90px;
  }
}

.hero__title {
  min-height: 72px;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-second;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $base-text-light-color;

  @media (min-width: $mobile-above) {
    width: 100%;
    max-width: 416px;
    margin-bottom: 40px;
    margin-left: 90px;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: $base-text-dark-color;
  }

  @media (min-width: $desktop-above) {
    margin-left: 79px;
  }
}

.hero__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: $font-second;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: $base-text-light-color;
  text-transform: uppercase;

  @media (min-width: $mobile-above) {
    width: 100%;
    max-width: 416px;
    margin-bottom: 21px;
    margin-left: 90px;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: $base-text-dark-color;
  }

  @media (min-width: $desktop-above) {
    margin-bottom: 53px;
    margin-left: 79px;
  }
}

.hero__image {
  display: block;
  margin-right: auto;
  margin-bottom: 3px;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-above) {
    position: absolute;
    top: 2.5%;
    left: 38.5%;
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    position: absolute;
    top: 32.3%;
    left: 15.6%;
  }

  @media (min-width: $tablet-s-above) {
    left: 17.6%;
  }

  @media (min-width: $desktop-above) {
    position: static;
    margin-right: 0;
    margin-left: 80px;
  }
}
