.main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: $second-background-color;

  @media (min-width: $mobile-above) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }
}

.main-footer__social {
  display: flex;
  justify-content: center;
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media (min-width: $mobile-above) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.main-footer__academy-link {
  margin-left: auto;

  @media (min-width: $mobile-xs-above) {
    margin-left: initial;
  }
}
