.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 13px;

  @media (min-width: $mobile-above) {
    position: static;
    column-gap: 94px;
    padding-top: 25px;
  }

  @media (min-width: $desktop-above) {
    padding-top: 55px;
  }
}
