.page__body-hero-wrapper {
  @media (min-width: $desktop-above) {
    min-height: 694px;
    background-image: url("./../img/hero/hero-desktop-bg@1x.png"), linear-gradient(to right, $base-background-light-color 0%, $base-background-light-color 50%, $hero-background-left 50%, $hero-background-right 100%);
    background-position-x: 100%, 100%;
    background-repeat: no-repeat;
    background-size: contain, 100% 694px;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/hero/hero-desktop-bg@2x.png"), linear-gradient(to right, $base-background-light-color 0%, $base-background-light-color 50%, $hero-background-left 50%, $hero-background-right 100%);
    }
  }
}

.page__body--nojs .main-header {
  flex-direction: column;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.page__body--nojs .hamburger {
  display: none;
}

.page__body--nojs .logo {
  width: 100%;
  max-width: 250px;
  padding-right: 20px;
  padding-left: 20px;
}

.page__body--nojs .logo__text {
  position: relative;
}

.page__body--nojs .navigation__list {
  position: static;
  margin-top: 15px;
}
