.programs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $mobile-above) {
    row-gap: 30px;
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-above) {
    flex-direction: row;
    column-gap: 80px;
    padding-top: 82px;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop-m-above) {
    justify-content: center;
  }
}
