*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  // -webkit-text-size-adjust: 100%; // применить если не сходится текст по perfect pixel
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $font-basic;
  font-size: 14px;
  line-height: 1.28;
  color: $second-text-dark-color;
  background-color: $base-background-light-color;

  @media (min-width: $mobile-above) {
    font-size: 16px;
    line-height: 1.5;
    color: $base-text-dark-color;
  }
}

.main-container {
  flex-grow: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
}
