// fonts
$font-basic: lato, "Times New Roman", serif;
$font-second: oswald, arial, sans-serif;

// colors
$base-dark-color: #000000;
$base-light-color: #ffffff;
$branded-color: #68b738;

// text colors
$base-text-dark-color: #000000;
$base-text-light-color: #ffffff;
$second-text-dark-color: #444444;
$contacts-text-color: #111111;
$catalog-product-card-title-color: #222222;

// backgrounds colors
$base-background-light-color: #ffffff;
$second-background-color: #f2f2f2;
$example-background-color: #eaeaea;

// border colors
$border-color: #d9d9d9;
$svg-border-color: #cdcdcd;
$input-border-color: #e7e7e7;

// svg colors
$svg-icons-color: #666666;
$svg-logo-text-color: #111111;
