// fonts
$font-basic: lato, helvetica, sans-serif;
$font-second: oswald, arial, sans-serif;

// colors
$base-dark-color: #000000;
$base-light-color: #ffffff;
$branded-color: #68b738;
$branded-color-hover: #5eaa2f;
$hero-background-left: #64a73c;
$hero-background-right: #62a53a;

// text colors#7FC256
$base-text-dark-color: #000000;
$base-text-light-color: #ffffff;
$second-text-dark-color: #444444;
$third-text-dark-color: #111111;
$catalog-product-card-title-color: #222222;

// backgrounds colors
$base-background-light-color: #ffffff;
$second-background-color: #f2f2f2;
$second-background-color-hover: #ebebeb;
$example-background-color: #eaeaea;

// border colors
$border-color: #d9d9d9;
$second-border-color: #ebebeb;
$third-border-color: #cdcdcd;
$fourth-border-color: #e6e6e6;
$input-border-color: #e7e7e7;
$checkbox-border-color-hover: #bababa;

// svg colors
$svg-icons-color: #666666;
$svg-logo-text-color: #111111;

// item colors
$more-plus-color: #d3d3d3;

// error color
$error-color: #ff8282;

// viewports
$mobile-xs-above: 481px;
$mobile-s-above: 641px;
$mobile-above: 768px;
$tablet-xs-above: 920px;
$tablet-s-above: 1024px;
$tablet-above: 1280px;
$desktop-above: 1440px;
$desktop-m-above: 1441px;
