.additional {
  padding-top: 25px;
  // padding-right: 20px;
  padding-bottom: 36px;
  // padding-left: 20px;
  // overflow: hidden;

  @media (min-width: $mobile-s-above) {
    // width: 600px;
  }

  @media (min-width: $mobile-above) {
    // width: 100%;
    padding-top: 67px;
    // padding-right: 30px;
    padding-bottom: 75px;
    // padding-left: 30px;
  }

  @media (min-width: $desktop-above) {
    display: grid;
    grid-template-areas: "title title" "list gift";
    align-items: center;
    // width: 100%;
    padding-top: 0;
    // padding-right: 110px;
    padding-bottom: 87px;
    // padding-left: 110px;
  }
}

.additional__title {
  position: relative;
  left: -20px;
  width: 266px;
  margin-top: 0;
  margin-bottom: 1px;
  padding-right: 20px;
  padding-bottom: 36px;
  padding-left: 20px;
  font-family: $font-second;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: $base-text-dark-color;
  // border-bottom: 1px solid $third-border-color;
  background-color: $base-background-light-color;

  @media (min-width: $mobile-above) {
    left: 0;
    width: 420px;
    margin-bottom: 80px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
    font-size: 36px;
    line-height: 1;
    border-bottom: none;
  }

  @media (min-width: $desktop-above) {
    left: -40px;
    grid-area: title;
  }
}

.additional__title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 25%;
  left: -150%;
  width: 250vw;
  height: 2px;
  background-color: $branded-color;

  @media (min-width: $mobile-above) {
    top: 60%;
  }

  @media (min-width: $desktop-above) {
    top: 64%;
  }
}

// .additional__title::after {
//   content: "";
//   position: absolute;
//   top: 15px;
//   right: -20px;
//   width: 54px;
//   height: 2px;
//   background-color: $branded-color;

//   @media (min-width: $mobile-s-above) {
//     right: -40px;
//   }

//   @media (min-width: $mobile-above) {
//     top: 30%;
//     right: -4%;
//     width: 45%;
//   }

//   @media (min-width: $tablet-above) {
//     right: -2%;
//   }
// }

.additional__card-list {
  @include base-list-style;
  margin-bottom: 35px;

  @media (min-width: $mobile-above) {
    margin-bottom: 70px;
    border: 1px solid $third-border-color;
  }

  @media (min-width: $desktop-above) {
    display: inline-block;
    width: 896px;
    margin-right: 80px;
    margin-bottom: 0;
    border: none;
  }
}

.additional__card {
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid $third-border-color;

  @media (min-width: $mobile-above) {
    display: grid;
    grid-template-areas: "title meta" "button button";
    padding-top: 26px;
    padding-right: 38px;
    padding-bottom: 28px;
    padding-left: 38px;

    &:last-child {
      border: none;
    }
  }

  @media (min-width: $desktop-above) {
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-right: 0;
    padding-bottom: 17px;
    padding-left: 0;
  }
}

.additional__card:first-child {
  border-top: 1px solid $third-border-color;

  @media (min-width: $mobile-above) and (max-width: 1439px) {
    border-top: none;
  }
}

.additional__card:last-child {
  border-bottom: 1px solid $third-border-color;

  @media (min-width: $mobile-above) and (max-width: 1439px) {
    border-bottom: none;
  }
}

.additional__card-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: $font-second;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: $catalog-product-card-title-color;

  @media (min-width: $mobile-xs-above) {
    text-align: center;
  }

  @media (min-width: $mobile-above) {
    display: inline-block;
    grid-area: title;
    font-size: 20px;
    line-height: 1;
    text-align: left;
  }

  @media (min-width: $desktop-above) {
    width: 325px;
    margin-bottom: 0;
  }
}

.additional__card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 13px;

  @media (min-width: $mobile-xs-above) {
    justify-content: space-around;
  }

  @media (min-width: $mobile-above) {
    grid-area: meta;
    justify-self: end;
    column-gap: 55px;
    // width: 223px;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-above) {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.additional__card-info dt {
  font-size: 14px;
  line-height: 1;
  color: $second-text-dark-color;

  @media (min-width: $mobile-above) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.additional__card-info dd {
  margin-left: 0;
  font-size: 14px;
  line-height: 1;
  color: $second-text-dark-color;

  @media (min-width: $mobile-above) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.additional__gift-wrapper {
  position: relative;
  width: 100%;
  min-width: 280px;
  min-height: 290px;
  padding-top: 187px;
  padding-right: 61px;
  padding-left: 58px;
  background-color: $branded-color;
  background-image: url("./../img/catalog/catalog-gift-bg-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/catalog/catalog-gift-bg-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: $mobile-above) {
    min-width: 707px;
    min-height: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 421px;
    background-image: url("./../img/catalog/catalog-gift-bg-tablet@1x.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/catalog/catalog-gift-bg-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-above) {
    display: flex;
    justify-content: center;
    width: 245px;
    min-width: 245px;
    min-height: 288px;
    padding-top: 187px;
    padding-right: 61px;
    padding-bottom: 0;
    padding-left: 58px;
    background-image: url("./../img/catalog/catalog-gift-bg-desktop@1x.png");
    background-size: initial;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/catalog/catalog-gift-bg-desktop@2x.png");
      background-size: contain;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 33%;
    left: 50%;
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("./../img/svg/stack/stack.svg#catalog-gift-icon");
    transform: translate(-50%, -50%);

    @media (min-width: $mobile-above) {
      top: 48%;
      left: 16.5%;
    }

    @media (min-width: $desktop-above) {
      top: 33%;
      left: 50%;
    }
  }
}

.additional__gift-wrapper p {
  width: 161px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 43px;
  margin-left: auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: $base-text-light-color;

  @media (min-width: $mobile-above) {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
  }

  @media (min-width: $desktop-above) {
    min-width: 161px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
  }
}

.additional__card-button.button--order {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    grid-area: button;
    width: 100%;
  }

  @media (min-width: $desktop-above) {
    width: 244px;
    min-height: 40px;
  }
}
