.additional {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  @media (min-width: $mobile-s-above) {
    width: 600px;
  }

  @media (min-width: $mobile-above) {
    width: 100%;
    padding-top: 70px;
    padding-right: 30px;
    padding-bottom: 75px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-above) {
    display: grid;
    grid-template-areas: "title title" "list gift";
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-right: 110px;
    padding-bottom: 87px;
    padding-left: 110px;
  }
}

.additional__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 1px;
  padding-bottom: 36px;
  font-family: $font-second;
  font-size: 24px;
  line-height: 1;
  color: $base-text-dark-color;
  border-bottom: 1px solid $third-border-color;

  @media (min-width: $mobile-above) {
    margin-bottom: 80px;
    padding-bottom: 0;
    padding-left: 40px;
    font-size: 36px;
    line-height: 1;
    border-bottom: none;
  }

  @media (min-width: $desktop-above) {
    grid-area: title;
  }
}

.additional__title::before {
  @media (min-width: $mobile-above) {
    content: "";
    position: absolute;
    top: 30%;
    left: -6%;
    width: 6%;
    height: 2px;
    background-color: $branded-color;
  }
}

.additional__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -20px;
  width: 54px;
  height: 2px;
  background-color: $branded-color;

  @media (min-width: $mobile-s-above) {
    right: -40px;
  }

  @media (min-width: $mobile-above) {
    top: 30%;
    right: -4%;
    width: 45%;
  }

  @media (min-width: $tablet-above) {
    right: -2%;
  }
}

.additional__card-list {
  @include base-list-style;
  margin-bottom: 35px;

  @media (min-width: $mobile-above) {
    margin-bottom: 70px;
    border: 1px solid $third-border-color;
  }

  @media (min-width: $desktop-above) {
    display: inline-block;
    width: 896px;
    margin-right: 74px;
    margin-bottom: 0;
    border: none;
  }
}

.additional__card {
  padding-top: 12px;
  padding-bottom: 19px;
  border-bottom: 1px solid $third-border-color;

  @media (min-width: $mobile-above) {
    display: grid;
    grid-template-areas: "title meta" "button button";
    padding-top: 26px;
    padding-right: 38px;
    padding-bottom: 28px;
    padding-left: 38px;

    &:last-child {
      border: none;
    }
  }

  @media (min-width: $desktop-above) {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 17px;
    padding-left: 0;
  }
}

.additional__card:first-child {
  border-top: 1px solid $third-border-color;
}

.additional__card:last-child {
  border-bottom: 1px solid $third-border-color;
}

.additional__card-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: $font-second;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: $catalog-product-card-title-color;

  @media (min-width: $mobile-xs-above) {
    text-align: center;
  }

  @media (min-width: $mobile-above) {
    display: inline-block;
    grid-area: title;
    font-size: 20px;
    line-height: 1;
    text-align: left;
  }

  @media (min-width: $desktop-above) {
    width: 325px;
    margin-bottom: 0;
  }
}

.additional__card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $mobile-xs-above) {
    justify-content: space-around;
  }

  @media (min-width: $mobile-above) {
    grid-area: meta;
    width: 223px;
    justify-content: flex-end;
    justify-self: end;
    column-gap: 49px;
  }

  @media (min-width: $desktop-above) {
    display: flex;
    justify-content: space-between;
    width: 285px;
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.additional__card-info dt {
  font-size: 14px;
  line-height: 1;
  color: $second-text-dark-color;

  @media (min-width: $desktop-above) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.additional__card-info dd {
  margin-left: 0;
  font-size: 14px;
  line-height: 1;
  color: $second-text-dark-color;

  @media (min-width: $desktop-above) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.additional__gift-wrapper {
  position: relative;
  width: 100%;
  min-width: 280px;
  min-height: 290px;
  padding-top: 187px;
  padding-right: 61px;
  padding-left: 58px;
  background-image: url("./../img/catalog/catalog-gift-background.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $mobile-above) {
    min-width: 707px;
    min-height: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 421px;
    background-size: cover;
  }

  @media (min-width: $desktop-above) {
    display: inline-block;
    width: 245px;
    height: 288px;
    min-width: 245px;
    min-height: 288px;
    padding-top: 187px;
    padding-right: 61px;
    padding-bottom: 0;
    padding-left: 58px;
    background-size: initial;
  }

  &::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("./../img/svg/sprite.svg#catalog-gift-icon");
    transform: translate(-50%, -50%);
  }
}

.additional__gift-wrapper p {
  width: 161px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 43px;
  margin-left: auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: $base-text-light-color;

  @media (min-width: $mobile-above) {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-above) {
    margin-right: auto;
    margin-bottom: 43px;
    margin-left: auto;
  }
}

.additional__card-button.button--order {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    grid-area: button;
    width: 100%;
  }

  @media (min-width: $desktop-above) {
    width: 244px;
    height: 40px;
  }
}
