.button {
  display: block;
  width: 280px;
  height: 40px;
  padding: 8px 40px;
  font-family: $font-second;
  font-size: 14px;
  line-height: 1.28; // 1.8 и становится текст ровно в кнопке
  text-transform: uppercase;
  text-align: center;
  color: $base-text-light-color;
  background-color: $branded-color;
  border: none;
}

.button--order {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $mobile-above) {
    width: 250px;
  }
}

.button--more {
  font-size: 16px;
  line-height: 1.25;
  color: $second-text-dark-color;
  background-color: $second-background-color;

  @media (min-width: $mobile-above) {
    width: 250px;
  }
}

.button--hero {
  @media (min-width: $mobile-above) {
    width: 244px;
    height: 54px;
    padding: 14px 26px;
    font-size: 20px;
    // line-height: 1;
  }
}
