.button {
  display: block;
  width: 280px;
  min-height: 40px;
  padding: 8px 40px;
  font-family: $font-second;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  text-align: center;
  color: $base-text-light-color;
  background-color: $branded-color;
  border: none;
  cursor: pointer;
}

.button--order {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $mobile-above) {
    width: 100%;
  }

  @media (min-width: $desktop-above) {
    width: 100%;
    max-width: 570px;
    min-height: 52px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background-color: $branded-color-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--more {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-size: 16px;
  line-height: 1.25;
  color: $second-text-dark-color;
  background-color: $second-background-color;

  @media (min-width: $mobile-above) {
    width: 100%;
    max-width: 250px;
  }
}

.button--hero {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $mobile-above) {
    width: 100%;
    max-width: 244px;
    min-height: 54px;
    padding: 14px 26px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background-color: $branded-color-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--application {
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: $mobile-above) {
    font-size: 20px;
    line-height: 1.3;
    width: 100%;
    max-width: 284px;
    min-height: 54px;
  }

  @media (min-width: $desktop-above) {
    width: 100%;
    max-width: 570px;
  }

  &:hover,
  &:focus {
    background-color: $branded-color-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
