.button {
  display: block;
  width: 280px;
  height: 40px;
  padding: 8px 40px;
  text-align: center;
  font-family: $font-second;
  font-size: 14px;
  line-height: 1.8; // 1.28 по макету, как поставить эту цифру и выравнить текст?
  text-transform: uppercase;
  color: $base-text-light-color;
  background-color: $branded-color;
  border: none;
}

.button--order {
  font-size: 16px;
  line-height: 1.25;
  color: $base-text-light-color;
}

.button--more {
  font-size: 16px;
  line-height: 1.25;
  color: $second-text-dark-color;
  background-color: $second-background-color;
}
