.form {
  font-size: 16px;
  line-height: 1.12;

  @media (min-width: $mobile-above) {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-above) {
    padding-right: 0;
    padding-left: 0;
  }
}

.form__meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $mobile-above) {
    row-gap: 18px;
    padding-right: 0;
    padding-bottom: 72px;
    padding-left: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-above) {
    display: inline-flex;
    width: 100%;
    max-width: 570px;
    margin-right: 80px;
    padding-bottom: 0;
    vertical-align: top;
  }
}

.form__meta > .form__meta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;
}

.form__meta-wrapper > .form__label {
  font-family: $font-second;
  text-transform: uppercase;
  color: $second-text-dark-color;
}

.form__meta-wrapper > .form__input {
  flex-grow: 1;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  color: $second-text-dark-color;
  border: 1px solid $input-border-color;

  @media (min-width: $mobile-above) {
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  &:hover {
    border-color: $third-border-color;
  }

  &:focus {
    border-color: $second-text-dark-color;
  }

  &:invalid {
    border-color: $error-color;
  }
}

// стили, чтобы убрать стерлочки, которые изначально стоят у браузера в инпутах, чтобы увеличиать или уменьшать количество

.form__meta-wrapper > .form__input::-webkit-outer-spin-button,
.form__meta-wrapper > .form__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__meta-wrapper > .form__input[type="number"] {
  appearance: textfield;
}

.form__meta-wrapper > .form__input::placeholder {
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  color: $second-text-dark-color;

  @media (min-width: $mobile-above) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__program {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 13px;
  padding-top: 22px;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $mobile-above) {
    padding-top: 23px;
    padding-right: 27px;
    padding-bottom: 23px;
    padding-left: 27px;
    border: 1px solid $border-color;
  }

  @media (min-width: $desktop-above) {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    max-width: 570px;
    min-height: 202px;
  }
}

.form__program > .form__program-wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;

  @media (min-width: $mobile-above) {
    column-gap: 19px;
  }
}

.form__program-wrapper > .form__radio-input {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 7.5px;
  border: 1px solid $third-border-color;
  border-radius: 50%;
  appearance: none;

  @media (min-width: $mobile-above) {
    width: 40px;
    height: 40px;
    padding: 9.5px;
  }

  &:checked {
    background: $branded-color content-box;
  }

  &:hover,
  &:focus {
    border-color: $checkbox-border-color-hover;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form__program-wrapper > .form__label {
  font-family: $font-second;
  text-transform: uppercase;
  color: $second-text-dark-color;
}

.form__contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 14px;
  padding-top: 26px;
  padding-bottom: 24px;

  @media (min-width: $mobile-above) {
    row-gap: 20px;
    padding-top: 65px;
    padding-right: 0;
    padding-bottom: 65px;
    padding-left: 0;
  }

  @media (min-width: $desktop-above) {
    display: grid;
    grid-template-areas: "title title" "email phone";
    row-gap: 76px;
    column-gap: 80px;
    padding-top: 64px;
    padding-bottom: 72px;
  }
}

.form__contacts-title {
  position: relative;
  left: -20px;
  width: 100%;
  max-width: 222px;
  margin-top: 0;
  margin-bottom: 18px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-second;
  font-size: 24px;
  line-height: 1.08;
  font-weight: 400;
  color: $base-text-dark-color;
  background-color: $base-background-light-color;

  @media (min-width: $mobile-above) {
    left: -40px;
    width: 100%;
    max-width: 594px;
    margin-bottom: 56px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-above) {
    grid-area: title;
    margin-bottom: 0;
  }
}

.form__contacts-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 28%;
  left: -110%;
  width: 250vw;
  height: 2px;
  background-color: $branded-color;

  @media (min-width: $mobile-above) {
    top: 64%;
  }
}

.form__contacts > .form__contacts-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.form__contacts-wrapper:nth-of-type(1)::before {
  content: "";
  position: absolute;
  right: 13px;
  width: 19px;
  height: 15px;
  display: block;
  mask-image: url("./../img/svg/stack/stack.svg#form-email-icon");
  background-color: $catalog-product-card-title-color;
}

.form__contacts-wrapper:nth-of-type(2)::before {
  content: "";
  position: absolute;
  right: 13px;
  width: 19px;
  height: 15px;
  display: block;
  mask-image: url("./../img/svg/stack/stack.svg#form-phone-icon");
  background-color: $catalog-product-card-title-color;
}

.form__contacts-wrapper:focus-within:nth-of-type(1)::before {
  background-color: $branded-color;
}

.form__contacts-wrapper:focus-within:nth-of-type(2)::before {
  background-color: $branded-color;
}

.form__contacts-wrapper > .form__label {
  position: relative;
  flex-shrink: 0;
  font-family: $font-second;
  text-transform: uppercase;
  color: $second-text-dark-color;
}

.form__contacts-wrapper > .form__input {
  flex-grow: 1;
  width: 100%;
  padding-top: 14px;
  padding-right: 46px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  color: $second-text-dark-color;
  border: 1px solid $input-border-color;

  @media (min-width: $mobile-above) {
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-above) {
    flex-grow: 0;
    width: 494px;
  }

  &:hover {
    border-color: $third-border-color;
  }

  &:focus-within {
    border-color: $second-text-dark-color;
  }
}

.form__label--email {
  @media (min-width: $desktop-above) {
    min-width: 63px;
  }
}

// состояние ошибки через JS

.form__contacts-wrapper.form__contacts-wrapper--error {
  > .form__input {
    border-color: $error-color;
  }

  &::before {
    background-color: $error-color;
  }
}

.form__contacts-wrapper > .form__input--phone {
  @media (min-width: $desktop-above) {
    width: 474px;
  }
}

.form__contacts-wrapper > .form__input::placeholder {
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  color: $second-text-dark-color;

  @media (min-width: $mobile-above) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__comment {
  padding-bottom: 23px;

  @media (min-width: $mobile-above) {
    padding-right: 0;
    padding-bottom: 58px;
    padding-left: 0;
  }

  @media (min-width: $desktop-above) {
    padding-bottom: 66px;
  }
}

.form__comments-title {
  position: relative;
  left: -20px;
  width: 100%;
  max-width: 158px;
  margin-top: 0;
  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-second;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.08;
  color: $base-text-dark-color;
  background-color: $base-background-light-color;

  @media (min-width: $mobile-above) {
    left: -40px;
    width: 100%;
    max-width: 260px;
    margin-bottom: 84px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $desktop-above) {
    margin-bottom: 72px;
  }
}

.form__comments-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -250%;
  width: 250vw;
  height: 2px;
  background-color: $branded-color;

  @media (min-width: $mobile-above) {
    top: 53%;
  }
}

.form__textarea {
  width: 100%;
  height: 150px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 15px;
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  color: $second-text-dark-color;
  border: 1px solid $input-border-color;
  appearance: none;
  resize: none;

  @media (min-width: $mobile-above) {
    height: 175px;
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__textarea::placeholder {
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  text-transform: uppercase;
  color: $second-text-dark-color;

  @media (min-width: $mobile-above) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__additional {
  padding-bottom: 34px;

  @media (min-width: $mobile-above) {
    padding-right: 0;
    padding-bottom: 51px;
    padding-left: 0;
  }

  @media (min-width: $desktop-above) {
    padding-bottom: 61px;
  }
}

.form__additional-title {
  position: relative;
  left: -20px;
  width: 100%;
  max-width: 185px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: $font-second;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.08;
  color: $base-text-dark-color;
  background-color: $base-background-light-color;

  @media (min-width: $mobile-above) {
    left: -40px;
    width: 100%;
    max-width: 292px;
    margin-bottom: 57px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 1;
  }
}

.form__additional-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -250%;
  width: 250vw;
  height: 2px;
  background-color: $branded-color;

  @media (min-width: $mobile-above) {
    top: 60%;
  }
}

.form__additional-list {
  @include base-list-style;
  display: flex;
  flex-direction: column;
  row-gap: 13px;

  @media (min-width: $mobile-above) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-above) {
    column-gap: 0;
  }
}

.form__additional-list > .form__additional-wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;

  @media (min-width: $mobile-above) {
    column-gap: 20px;
    width: 100%;
    max-width: 221px;
  }

  @media (min-width: $desktop-above) {
    width: initial;
  }
}

.form__additional-list > .form__additional-wrapper:nth-child(1n) {
  @media (min-width: $desktop-above) {
    margin-right: 104px;
  }
}

.form__additional-list > .form__additional-wrapper:nth-child(2n) {
  @media (min-width: $desktop-above) {
    margin-right: 136px;
  }
}

.form__additional-list > .form__additional-wrapper:nth-child(3n) {
  @media (min-width: $desktop-above) {
    margin-right: 197px;
  }
}

.form__additional-list > .form__additional-wrapper:nth-child(4n) {
  @media (min-width: $desktop-above) {
    margin-right: 0;
  }
}

.form__checkbox-input {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px solid $third-border-color;
  appearance: none;

  @media (min-width: $mobile-above) {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    border-color: $checkbox-border-color-hover;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form__checkbox-input[type="checkbox"]:checked {
  background-image: url("./../img/svg/stack/stack.svg#form-tick-icon");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
}

.form__label {
  font-family: $font-second;
  text-transform: uppercase;
  color: $second-text-dark-color;
}

.form__button {
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;

  @media (min-width: $mobile-above) {
    display: inline-block;
    margin-right: 55px;
  }

  @media (min-width: $desktop-above) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.form__button + p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  color: $base-text-dark-color;

  @media (min-width: $mobile-above) {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    vertical-align: text-top;
  }
}
