.program {
  position: relative;
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 20px;
  background-color: $second-background-color;

  @media (min-width: $mobile-above) {
    padding-top: 77px;
    padding-right: 63px;
    padding-bottom: 53px;
    padding-left: 52px;
  }

  &--icon_slim::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $branded-color;
    border-radius: 50%;

    @media (min-width: $mobile-above) {
      top: 92px;
      right: 63px;
      width: 200px;
      height: 200px;
    }
  }

  &--icon_slim::after {
    content: "";
    position: absolute;
    display: block;
    width: 36px;
    height: 50px;
    background-image: url("./../img/svg/sprite.svg#program-slim-icon");
    background-repeat: no-repeat;
    background-size: 36px 50px;
  }

  &--icon_pro::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $branded-color;
    border-radius: 50%;

    @media (min-width: $mobile-above) {
      top: 92px;
      right: 63px;
      width: 200px;
      height: 200px;
    }
  }

  &--icon_pro::after {
    content: "";
    position: absolute;
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("./../img/svg/sprite.svg#program-pro-icon");
    background-repeat: no-repeat;
    background-size: 67px 28px;
  }
}

.program__title {
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 70px;
  font-family: $font-second;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: $base-text-dark-color;

  @media (min-width: $mobile-above) {
    margin-bottom: 24px;
    margin-left: 0;
    font-size: 36px;
    line-height: 1;
  }
}

.program p {
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $mobile-above) {
    width: 340px;
    margin-bottom: 48px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.program__link {
  display: flex;
  font-family: $font-second;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: $base-text-dark-color;


  @media (min-width: $mobile-above) {
    font-size: 20px;
    line-height: 1;
  }

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("./../img/svg/sprite.svg#program-short-arrow-icon");
    background-repeat: no-repeat;
    background-size: 32px 10px;

    @media (min-width: $mobile-above) {
      background-image: url("./../img/svg/sprite.svg#program-long-arrow-icon");
    }
  }
}
