// .slider__image {
//   display: block;

//   @media (min-width: $mobile-above) {
//     width: 560px;
//     height: 512px;
//     margin-right: auto;
//     margin-left: auto;
//   }
// }

.slider {
  display: grid;
  grid-template-columns: 140px 1fr;

  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $mobile-above) {
    grid-template-columns: 280px 1fr;
    width: 560px;
    height: 512px;
  }
}

// style="width: 50%;

.slider__before-wrapper {
  // position: absolute;
  // z-index: 2;
  // top: 0;
  // left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__after-wrapper {
  // position: absolute;
  // z-index: 1;
  // top: 0;
  // left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__before-image,
.slider__after-image {
  display: inline;
  width: 280px;
  height: 256px;

  @media (min-width: $mobile-above) {
    width: 560px;
    height: 512px;
  }
}

.slider__button-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
}

.slider__button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/svg/stack/example-slider-control-button.svg");
  border: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.slider__button-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
  width: 4px;
  background-color: $svg-icons-color;
}

.slider__button:hover,
.slider__button:focus {
  opacity: 0.8;
}

.slider__button:hover + .slider__button-line,
.slider__button:focus + .slider__button-line {
  opacity: 0.8;
}
