.social {
  @include base-list-style;
  display: flex;
  column-gap: 24px;
}

.social__item {
  display: flex;
}

.social__link {
  display: inline-flex;
}

.social__icon {
  fill: $svg-icons-color;

  &:hover,
  &:focus {
    fill: $branded-color;
  }

  &:active {
    opacity: 0.3;
  }
}
